@using Lightspeed.Components.Utils

<!-- Row 1: General info -->
<div class="row">
	<!-- Accuracy graph -->
	<div class="col-6">
		<LineGraph
			@ref="AccuracyGraph"
			ChartTitle="Accuracy"
			LineLabels="@_accuracyGraphLabels"
		/>
	</div>

	<!-- Loss graph -->
	<div class="col-6">
		<LineGraph
			@ref="LossGraph"
			ChartTitle="Loss (Scaled, Normalized)"
			LineLabels="@_lossGraphLabels"
		/>
	</div>
</div>
