<div class="card col-3 bg-secondary pt-2 rounded-0">
	<!-- Dataset image -->
	<div class="card-img-top d-flex justify-content-center">
		<img src="@Image" class="img-thumbnail rounded-0"
			alt="Icon for the @Name dataset">
	</div>

	<div class="card-body px-0">
		<!-- Dataset info -->
		<h4 class="text-center">@Name</h4>
		<span>@Description</span>

		<!-- Links -->
		<div class="d-flex justify-content-end pt-2">
			<a class="btn btn-success rounded-0 px-4" href="@Address">
				View
			</a>
		</div>
	</div>
</div>
