<div class="card bg-dark pt-2 border-light rounded-0 dataset-element">
	<!-- Dataset image -->
	<div class="card-img-top d-flex justify-content-center">
		<img src="@ImageData" class="img-thumbnail rounded-0"
			alt="Dataset element #{@Element.Id}">
	</div>
	<div class="d-flex justify-content-between">
		<span>#@(Element.Id + 1)</span>
		<span>L: @(Element.Label)</span>
	</div>
</div>
