<li class="nav-item">
	<a type="button" class="top-nav-bar-button @CurrentCss" href="@Address">
		<div class="vcenter-inner h-100">
			<span>
				@Text
			</span>
		</div>
		@if (IsActive)
		{
			<div class="top-nav-bar-button-active border-bottom border-3"></div>
		}
	</a>
</li>
