@page "/train/session/{SessionId:guid}"
@using Lightspeed.Components.Training.Dashboard

<div class="container">
	<!-- Title Bar -->
	<div class="row">
		<h1>Training Session @SessionId</h1>
	</div>

	<!-- Progress Information -->
	<TrainingProgress
		TrainingSession="@_trainingSession"
	/>

	<!-- Metrics -->
	<TrainingMetrics
		TrainingSession="@_trainingSession"
	/>
</div>
