@page "/train"
@using Lightspeed.Components.Training

<div class="container">
	<!-- Title Bar -->
	<div class="row">
		<h1 class="mb-0">
			Training Configuration
		</h1>
	</div>
	<hr />

	<!-- Dataset Selection -->
	<div class="row">
		<h2 class="text-info">
			Select a Dataset
		</h2>
	</div>
	@foreach (var (_, dataset) in DatasetService.DownloadedDatasets)
	{
		<DatasetSelector
			@ref="DatasetSelectors"
			Dataset="@dataset"
			IsSelected="@IsSelectedDataset(dataset)" />
	}

	<!-- Model Selection -->
	<div class="row mt-4">
		<h2 class="text-info">
			Select a Model
		</h2>
	</div>
	@foreach (var (_, model) in ModelsService.Models)
	{
		<ModelSelector
			@ref="ModelSelectors"
			Model="@model"
			IsSelected="@IsSelectedModel(model)" />
	}

</div>
